@media only screen and (max-width: 400px) {


    
  header {
    background-color: transparent;
    width: 101vw;
    height: 25vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    margin: 0;
    flex-direction: row;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  .cabecera {
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
  }

  .menu-1024 {
    width: auto;
    display: none;
    flex-direction: row;
    align-items: center;
    margin: 10px;
  }

  .menu-1024 a {
    text-decoration: none;
    color: black;
    display: none;
    flex-direction: row;
    text-align: end;
    margin-right: 30px;
  }

  .menu {
    flex-wrap: wrap;
  }

  .imagen-menu {
    background-color: transparent;
    border: none;
    padding: 5;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 100px;
  }
  /* Estilos para el submenú */
  .imagen-menu svg {
    fill: #000000;
    width: 25px;
    height: 50px;
}


  .imgTituloPag {
    background-image: url(./tituloCafeWeb.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    width: 30%;
    height: 4vh;
    margin-right: auto;
    margin-left: 70px;
    display: none;
  }

  main {
    background-color: rgb(189, 184, 176);
    width: 100%;
    min-height: calc(100vh - 35vh); /* Calcula la altura mínima para que el footer no se solape con el contenido */
    padding-bottom: 20vh; /* Ajusta el espacio para el footer */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Crea columnas automáticas con un ancho mínimo de 300px */
    gap: 20px; /* Espacio entre las celdas del grid */
    padding: 20px;
    overflow: hidden; /* Evita que el contenido del main sobresalga del main en dispositivos con pantallas pequeñas */
  }
  .contenido, .informacion, .recetas {
    background-color: #6e8885; /* Color de fondo para cada sección */
    padding: 20px; /* Añade un relleno dentro de cada sección */
    border-radius: 8px; /* Bordes redondeados */
}

.boton-avanzado {
    background-color: #4CAF50; /* Color de fondo */
    border: none; /* Sin borde */
    color: white; /* Color del texto */
    padding: 15px 32px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin decoración de texto */
    display: inline-block; /* Asegura que el botón se comporte como un elemento en línea */
    font-size: 16px; /* Tamaño del texto */
    margin: 4px 2px; /* Margen */
    transition-duration: 0.4s; /* Duración de la transición */
    cursor: pointer; /* Cursor */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}

.boton-avanzado:hover {
    background-color: #45a049; /* Cambia el color de fondo al pasar el ratón por encima */
    color: white; /* Cambia el color del texto al pasar el ratón por encima */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Cambia la sombra al pasar el ratón por encima */
}

  .video-mobile {
    position: absolute;
    width: 100%;
    height: 25vh;
    overflow: hidden;
    z-index: 0;
  }

  .video-mobile video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease;
  }

  .video-mobile video.active {
    opacity: 1;
  }

  .header-video.hidden {
    display: none;
  }

  .header-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  footer {
    background-color: rgb(187, 188, 185);
    width: 102vw;; /* Ancho del footer al 100% del viewport */
    height: 25vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: relative;
    bottom: 0;
    left: 0;
}

  .textoFooter {
    background-color: black;
    width: 90vw;
    height: 15vh;
    display: flex;
    margin: 50px;
  }

  .textoCentroFooter {
    background-color: cadetblue;
    width: 15vw;
    height: 8vh;
    display: none;
    margin: 50px;
  }

  .textoIzquierdaFooter {
    background-color: lightsalmon;
    width: 15vw;
    height: 8vh;
    display: none;
    margin: 50px;
  }
  header, main, footer {
    width: 100%;
    box-sizing: border-box; /* Para que el ancho incluya el padding y el borde */
    padding: 10px; 
  }
  
  
}





@media only screen and (min-width: 401px) and (max-width: 767px) {
  
  
  header {
    background-color: transparent;
    width: 101vw;
    height: 25vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    margin: 0;
    flex-direction: row;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  .cabecera {
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
  }

  .menu-1024 {
    width: auto;
    display: none;
    flex-direction: row;
    align-items: center;
    margin: 10px;
  }

  .menu-1024 a {
    text-decoration: none;
    color: black;
    display: none;
    flex-direction: row;
    text-align: end;
    margin-right: 30px;
  }

  .menu {
    flex-wrap: wrap;
  }

  .imagen-menu {
    background-color: transparent;
    border: none;
    padding: 5;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 100px;
  }

  .imgTituloPag {
    background-image: url(./tituloCafeWeb.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    width: 30%;
    height: 4vh;
    margin-right: auto;
    margin-left: 70px;
    display: none;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Ancho del menú */
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8); /* Negro oscuro transparente */
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  margin: 0;
  transition: transform 0.3s ease;
  transform: translateX(-100%); /* Ocultar el menú fuera de la pantalla */
  z-index: 9999; /* Asegura que el menú esté en la parte superior */
  overflow-y: hidden;
  flex-wrap: nowrap;
  padding: 1;
  text-align: center;


}
.nav-menu-item {
    font-size: 12px;
    line-height: 50px;
    text-transform: uppercase;
    width: max-content;
    max-width: 200px;
}

.nav-menu-link_active,
.nav-menu-item:hover {
    background-color: rgb(198, 198, 198);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.nav-menu-link:hover,
.nav-menu-link_active {
    background: none;
    color: rgb(35, 74, 52);
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
}

#toggleMenu {
    display: block;
}

.nav-menu_visible {
  transform: translateX(0); /* Mostrar el menú moviéndolo a la posición 0 */

}

.close-menu {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
.menu-title {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #569863;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 10px;
  padding-top: 30px;
}

  main {
    background-color: rgb(189, 184, 176);
    width: 100%;
    min-height: calc(100vh - 35vh); /* Calcula la altura mínima para que el footer no se solape con el contenido */
    padding-bottom: 20vh; /* Ajusta el espacio para el footer */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Crea columnas automáticas con un ancho mínimo de 300px */
    gap: 20px; /* Espacio entre las celdas del grid */
    padding: 20px;
    overflow: hidden; /* Evita que el contenido del main sobresalga del main en dispositivos con pantallas pequeñas */
    position: relative;
    z-index: 0;
  }
  .contenido, .informacion, .recetas {
    background-color: #6e8885; /* Color de fondo para cada sección */
    padding: 20px; /* Añade un relleno dentro de cada sección */
    border-radius: 8px; /* Bordes redondeados */
}

.boton-avanzado {
    background-color: #d4c764; /* Color de fondo */
    border: none; /* Sin borde */
    color: rgb(0, 0, 0); /* Color del texto */
    padding: 15px 32px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin decoración de texto */
    display: inline-block; /* Asegura que el botón se comporte como un elemento en línea */
    font-size: 16px; /* Tamaño del texto */
    margin: 4px 2px; /* Margen */
    transition-duration: 0.4s; /* Duración de la transición */
    cursor: pointer; /* Cursor */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}

.boton-avanzado:hover {
    background-color: #d4c764; /* Cambia el color de fondo al pasar el ratón por encima */
    color: white; /* Cambia el color del texto al pasar el ratón por encima */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Cambia la sombra al pasar el ratón por encima */
}

  .video-mobile {
    position: absolute;
    width: 100%;
    height: 25vh;
    overflow: hidden;
    z-index: 0;
    
  }

  .video-mobile video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease;
  }

  .video-mobile video.active {
    opacity: 1;
  }

  .header-video.hidden {
    display: none;
  }

  .header-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    
  }
 

  footer {
    background-color: rgb(187, 188, 185);
    width: 102vw;; /* Ancho del footer al 100% del viewport */
    height: 25vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: relative;
    bottom: 0;
    left: 0;
    z-index: 0;
}

  .textoFooter {
    background-color: black;
    width: 90vw;
    height: 15vh;
    display: flex;
    margin: 50px;
  }

  .textoCentroFooter {
    background-color: cadetblue;
    width: 15vw;
    height: 8vh;
    display: none;
    margin: 50px;
  }

  .textoIzquierdaFooter {
    background-color: lightsalmon;
    width: 15vw;
    height: 8vh;
    display: none;
    margin: 50px;
  }
  header, main, footer {
    width: 100%;
    box-sizing: border-box; /* Para que el ancho incluya el padding y el borde */
    padding: 10px; 
  }
  
  
}













  @media screen and (min-width: 767px){
   
    
    header {
      background-color: transparent;
      width: 101vw;
      height: 25vh;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: space-evenly;
      margin: 0;
      flex-direction: row;
      position: relative;
      z-index: 1;
      overflow: hidden;
    }
  
    .cabecera {
      width: 100%;
      height: 12vh;
      display: flex;
      align-items: center;
      text-align: center;
      justify-content: flex-start;
    }
  
    .menu-1024 {
      width: auto;
      display: none;
      flex-direction: row;
      align-items: center;
      margin: 10px;
    }
  
    .menu-1024 a {
      text-decoration: none;
      color: black;
      display: none;
      flex-direction: row;
      text-align: end;
      margin-right: 30px;
    }
  
    .menu {
      flex-wrap: wrap;
    }
  
    .imagen-menu {
      background-color: transparent;
      border: none;
      padding: 5;
      cursor: pointer;
      margin-left: 15px;
      margin-top: 100px;
    }
  
    .imgTituloPag {
      background-image: url(./tituloCafeWeb.png);
      background-position: center;
      background-size:cover;
      background-repeat: no-repeat;
      width: 30%;
      height: 4vh;
      margin-right: auto;
      margin-left: 70px;
      display: none;
    }
  
    main {
      background-color: rgb(189, 184, 176);
      width: 100%;
      min-height: calc(100vh - 35vh); /* Calcula la altura mínima para que el footer no se solape con el contenido */
      padding-bottom: 20vh; /* Ajusta el espacio para el footer */
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Crea columnas automáticas con un ancho mínimo de 300px */
      gap: 20px; /* Espacio entre las celdas del grid */
      padding: 20px;
      overflow: hidden; /* Evita que el contenido del main sobresalga del main en dispositivos con pantallas pequeñas */
    }
    .contenido, .informacion, .recetas {
      background-color: #6e8885; /* Color de fondo para cada sección */
      padding: 20px; /* Añade un relleno dentro de cada sección */
      border-radius: 8px; /* Bordes redondeados */
  }
  
  
  
    .video-mobile {
      /* position: absolute; */
      width: 100%;
      height: 25vh;
      overflow: hidden;
      z-index: 0;
    }
  
    .video-mobile video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      opacity: 0;
      transition: opacity 1s ease;
    }
  
    .video-mobile video.active {
      opacity: 1;
    }
  
    .header-video.hidden {
      display: none;
    }
  
    .header-video {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }
  
    footer {
      background-color: rgb(187, 188, 185);
      width: 102vw;; /* Ancho del footer al 100% del viewport */
      height: 25vh;
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      position: relative;
      bottom: 0;
      left: 0;
  }
  
    .textoFooter {
      background-color: black;
      width: 90vw;
      height: 15vh;
      display: flex;
      margin: 50px;
    }
  
    .textoCentroFooter {
      background-color: cadetblue;
      width: 15vw;
      height: 8vh;
      display: none;
      margin: 50px;
    }
  
    .textoIzquierdaFooter {
      background-color: lightsalmon;
      width: 15vw;
      height: 8vh;
      display: none;
      margin: 50px;
    }
    header, main, footer {
      width: 100%;
      box-sizing: border-box; /* Para que el ancho incluya el padding y el borde */
      padding: 10px; 
    }
    
    
  }
  






@media screen and (min-width: 1024px){
  header {
    background-color:transparent;
    width: 100%;
    height: 550px;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    margin: 0;
    flex-direction: row;
    position: relative;
    z-index: 1;

  }
  
    .cabecera {
      /* background-color: yellow; */
      width: 100%;
      height: 20vh;
      display:flex;
      align-items: center;
      text-align: center;
      justify-content: space-around;
      flex-wrap: wrap;
      z-index: 0;
      
    }
    .imgTituloPag {
      background-image: url(./tituloCafeWeb.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 50%;
      height: 34%;
      z-index: 2; /* Cambiado a un valor mayor */
      position: absolute;
    }
    .menu-1024 {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)); /* Fondo transparente difuminado */
      padding: 10px 0;
      width: 100%; /* Ancho del menú al 100% */
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0; /* Eliminar el margen para que el menú ocupe todo el ancho */
      font-size: 20px;
      position: fixed; /* Posición absoluta para abarcar todo el ancho */
      top: 0; /* Pegar el menú en la parte superior */
      justify-content: space-evenly;
    }
  .menu-1024 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: inline-block;
    flex-direction: row;
    text-align: end;
    margin-right: 30px;
    font-weight: bold;
    border: 2px solid transparent; /* Establecer un borde transparente */
    padding: 10px 20px;
  }
  
  .menu {
    background-color: violet;
    width: 6vw;
    height: 6vh;
    display: none;
    margin: 25px;
    flex-wrap: wrap;
  }
  
  
  
  main {
    background-color: burlywood;
    width: 100%;
    height: 300vh;
    display: flex;
  }
  .video-mobile{
    /* background-color: green; */
    width:100%;
    height: 80vh;
    display: flex;
    
}
.boton-avanzado {
  background-color: #4CAF50; /* Color de fondo */
  border: none; /* Sin borde */
  color: white; /* Color del texto */
  padding: 15px 32px; /* Espaciado interno */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin decoración de texto */
  display: none; /* Asegura que el botón se comporte como un elemento en línea */
  font-size: 16px; /* Tamaño del texto */
  margin: 4px 2px; /* Margen */
  transition-duration: 0.4s; /* Duración de la transición */
  cursor: pointer; /* Cursor */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}


  
  footer {
    background-color: rgb(107, 84, 84);
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: space-between;
  }
  .textoFooter {
    background-color: black;
    width: 90vw;
    height: 45vh;
    display: flex;
    margin: 50px;
  }
  .textoCentroFooter{
    background-color: rgb(96, 138, 180);
    width: 22vw;
    height: 23vh;
    display: flex;
    margin: 50px;
  }
.textoIzquierdaFooter {
  background-color: lightsalmon;
  width: 22vw;
  height: 23vh;
  display: flex;
  margin: 50px;
}

}



html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}